@model IEnumerable<Role>
@{
    ViewBag.Title = "Role Managetment";
}

<h3>@ViewBag.Title</h3>
<a asp-controller="Role" asp-action="Create" class="btn btn-dark">Create</a>

<table class="table table-bordered table-hover mt2">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Role Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var role in Model)
            {
                <tr>
                    <td>@role.RoleId</td>
                    <td>@role.RoleName</td>

                    <td>
                        <a asp-controller="Role" asp-action="Edit" asp-route-id="@role.RoleId" class="btn btn-primary">Edit</a>
                        <a asp-controller="Role" asp-action="Edit" asp-route-id="@role.RoleId" class="btn btn-dark">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>